@model Data.BillDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BillDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Qty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bill1.PaymentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bill1.PaymentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Products.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Products.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
